<div class="jumbotron">
  <h1 class="display-4">New file</h1>
  <p class="lead"><%= render "form", stockstestapp: @stockstestapp %></p>
  </div>
  <br>
<div>
  <%= link_to "Back", stockstestapps_path, class:"btn btn-dark" %>
</div>
